/* src/components/Navbar.module.css */

.navbar {
  /* Fixa a Navbar no topo da tela */
  position: sticky;
  top: 0;
  
  display: flex;
  justify-content: space-between; /* Espaçamento entre logo e links */
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: #121212; /* Um fundo bem escuro, combinando com o Hero */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  z-index: 100; /* Garante que fique acima de outros elementos */
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #00bfff; /* Cor de destaque */
  text-decoration: none;
}

.links a {
  margin-left: 20px;
  color: #ccc; /* Cor do link */
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.links a:hover {
  color: #fff; /* Cor ao passar o mouse */
}